// General
*{
  margin: 0
}

a{
  text-decoration: none;
  color: inherit;
}

// Body
body{
  background: url('chalkboard.png');
  background-size: cover;
  background-repeat: no-repeat;
}

// Main body content
.content{
  display: flex;
  margin: 3rem 5% 1rem;
  font-size: 2.5rem;
  color: white;

  .question{
    color:white;
    width:60%;
  }
    .qtext{
      font-size: 2.5rem
    }

}

// answers
.answers{
  width:60%;
  margin-left: 5%;
  .answer{
    color:white;
    font-size: 2rem;
    cursor: pointer;
  }
  .answer:hover{
    color:yellow;
  }
}

// FOOTER
footer{
  position: absolute;
  bottom: 0;
  width: 100%;
  display: flex;
  justify-content: space-around;
  background: black;
  height: 5.5rem;
  color: yellow;
    div{
      margin-top: 1rem;
      font-size: 2rem;
    }
}

.leaderboard{
  margin-left: 5%;
  div{
    width: 40%;
    font-size: 1rem;
    background:grey;
    color: white;

  }
}

input{
  width: 25%;
}
